body {background-color: darkseagreen} 
h1 {text-align: center}  
h1{font-family:  Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"}   
h1{font-size: 50px} 
h1{color: navy} 
a:hover{background-color: blueviolet} 
p {color: navy} 
p{ font-size: 25px} 
table {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"sans-serif; border-collapse: collapse;width: 100%; background-color:navy; color: aliceblue} 
li {font-size: 30px; color: navy}
h2{text-align: center}